@{
    ViewBag.Title = "Location";
}
<h2><font size="4">@ViewBag.Title</font></h2>
<h3>@ViewBag.Message</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.7766825632143!2d114.20885831426536!3d22.324283985311148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34040134c98c33bf%3A0xe077256ca1917077!2sHKU%20SPACE%20-%20Kowloon%20East%20Campus!5e0!3m2!1szh-TW!2shk!4v1581480334025!5m2!1szh-TW!2shk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
<address>
    <p style="color:lightskyblue;">Find Us<br /><br />
    28 Wang Hoi Road, Kowloon Bay,<br />
    Kowloon (Exit B, Kowloon Bay MTR Station)<br />
    <abbr title="Phone">P:</abbr>
    3762 2222</p>
</address>

<address>
    <strong><p style="color:lightskyblue;">Hours:</strong>7:00 PM – 3:00 AM, closed on Thursdays</p><br />
</address>